[core]
	editor = subl -w
	excludesfile = ~/.gitignore_global
[user]
	name = Waldo
	email = ben.walsham@meltingwaldo.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[branch]
	autosetuprebase = always
